Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  misc-include-cleaner,
  modernize-avoid-bind,
  modernize-deprecated-headers,
  performance-*,
  readability-redundant-member-init
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src)/'
AnalyzeTemporaryDtors: false
FormatStyle: file
